<h2 style="text-align: center; font-size: 60px;">мои ресурсы</h2>
<div class="container">
        <div class="borde-1 border">
                <div style="border-right: 2px solid black; height: 310px; display: flex; justify-content: center; flex-direction: row; align-items: center; width: 50%; gap: 30px;">
                <h3>Youtube</h3>
              <img src= "/assets/svg/youtube-img.png"  alt=""
               width="290px"
               height="290px">
                <p>Youtube - Здесь я публикую полезный контент  по Продвижению 
                 и Заработку на Youtube. Тут немного видео  на данный момент, но 
                 в них есть эксклюзивная и полезная информация. Я не называю себя 
                 «экспертом», не продаю курсы и не собираюсь этого делать. Я делюсь 
                  своим опытом по Youtube на канале

                </p>
              </div>
              <div style=" height: 300px; display: flex; justify-content: center; flex-direction: row; align-items: center; gap: 20px; padding: 10px;">
                <h2 class="h2-position">Telegram</h2>
              <img src="/assets/svg/telegram.png" alt=""
               width="300px"
               height="300px">
                <p>Telegram - Здесь я тоже публикую полезный контент по Продвижению и Заработку на Youtube. 
                  В основном я рассказываю тут о своем пути. В отличии от YouTube и Instagram тут есть много
                   контента, я даже делал путеводитель. Здесь есть много постов с экслюзивной информацией, так 
                   что подписывайся!</p>
              </div>
        </div>

        <div class="border-2 border">
                <div style="border-right: 2px solid black; height: 310px; width: 50%;">
                  <div style=" height: 300px; display: flex; justify-content: center; flex-direction: row; align-items: center;  padding: 10px;">
                    <h3>Связаться</h3>
                  <img style="margin-top: 40px;" src="/assets/svg/telegram-nik.png" alt=""
                   width="300px"
                   height="300px">
                    <p>Вы можете написать мне в telegram, мой юзернейм @cocktail_prod
                      Именно через telegram я в основном покупаю каналы, так что если хотите продать канал вы по адресу!</p>
                  </div>
                </div>
                <div style="border-right: 2px solid black; height: 300px; width: 50%;">
                  <div style=" height: 300px; display: flex; justify-content: center; flex-direction: row; align-items: center; gap: 20px; padding: 5px;">
                    <h2 class="h2-position">Instagram</h2>
                  <img  src="/assets/svg/instagram.png" alt=""
                   width="300px"
                   height="300px">
                    <p>Instagram - Здесь я публикую контент из реальной жизни, назовем это личным блогом. Пока что тут практически нету фото, где я нахожусь в кадре. Но я собираюсь активизироваться в введении аккаунта и поэтому вы сможете больше узнавать о моей жизни.</p>
                  </div>
                </div>
        </div>

        <!-- <div class="border-3 border"></div> -->
</div>
