<div>
<h2 style="font-size: 50px; display: flex; justify-content: center; align-items: center; background-color: black; color: white; height: 250px;">Преимущества работы со мной </h2>
</div>
<div style="background-color: black;" class="container">
<div class="own-blok blok">
    <h2 class="text-img">БЫСТРО</h2>
     <h3>С ноября 2022 года я купил более 300 Youtube каналов. Поэтому имею большой опыт в передаче Youtube каналов. Я умею грамотно перевязывать Google аккаунт и могу делать это быстро. Знаю также все тонкости передачи канала брендом, даю подробную инструкцию как создать бренд и передать права на канал. Поэтому сделка может реально пройти быстрее чем м5 ф90 (шутка конечно)
    </h3>
  <img src="/assets/svg/bistro.png" alt=""
  width="470px"
  height="270px"
 >
  </div>
  <hr>
  <div class="two-blok blok">
    <h2 class="text-img">ВЫГОДНО</h2>
    <h3> Работаю со многими способами оплаты. Благодаря большому опыту хорошо разбираюсь в платежных системах. Предлагаю хорошие цены за Youtube каналы, могу перебить по цене других скупщиков. Самый крупный канал обошелся мне в 3750$, так что я могу брать как и дешевые, так и дорогие каналы. Свободного капитала много, я могу покупать на постоянной основе.</h3>
  <img style="margin-top: 40px;" src="/assets/svg/vigodna-img.png" alt=""
  width="470px"
  height="270px">
  </div>
  <hr>
  <div class="Third-blok blok">
    <h2 class="text-img">БЕЗОПАСНО</h2>
    <h3>С декабря 2023 года по июнь 2024 года было куплено каналов на сумму около 37000$. В июле я провел самую большую сделку на доверии ко мне, продавец канала вначале передал мне полностью свои Youtube каналы и после этого я отправил 2200$ в качестве оплаты. У меня куча реальных отзывов, подробнее в следующем блоке этого сайта. Также я готов работать через популярных гарантов, если у вас не хватает доверия ко мне.</h3>
  <img src="/assets/svg/ОЕКНО.png" alt=""
  width="470px"
  height="270px">
  </div>
</div>

