<div style="display: flex; justify-content: center; margin-top: 50px; font-size: 35px;" class="text">
   <h1>Какие каналы я покупаю?</h1>
</div>

<div class="container">
    <button class="pervaia blok">
        <h2 style= "padding: 20px; font-size: 26px;">От 100 тысяч просмотров и 700 подписчиков (с монетизацией и без)</h2>
        <div class="img-div">
        <img class="remove-bg" src="/assets/svg/pervaia.png" alt=""
        width="70px"
        height="70px">
        </div>
       </button>
    <button class="vtaraia blok">
        <h2 style=" padding: 20px;
   font-size: 35px;" class="text-2blok">С монетизацией <br>
             (без накрутки)</h2>
        <div class="img-div2">
        <img src="/assets/svg/авапкп.png" alt=""
        width="80px"
        height="80px">
        </div>
    </button>
    <button class="tretaia blok">
        <h2 class="text-3blok">Любые каналы  от 10 тысяч  подписчиков</h2>
        <div class="img-div2">
        <img style="margin-left: 25px;" src="/assets/svg/sub.png" alt=""
        width="110px"
        height="110px">
        </div>
    </button>
</div>
