 <div class="title" style="display: flex; justify-content: center; ">
    <h1>Немного обо мне</h1>
    </div>
<div class="container">
   <div class="text"> 
    <h3>
        Мое настоящее имя Баграт. Мне 17 лет и я начал заниматься ютубом <br> летом 2020 года.
        Тогда я начал снимать видеоролики по игре под <br>
         названием "Minecraft". 
         Мне очень нравилось снимать видео и <br> изучать алгоритмы Youtube, 
          я считай жил всем этим. Интенсивно <br> занимаясь Youtube я смог добиться определенного успеха, <br> 
          почти ровно через год канал сильно стрельнул и смог 
           преодолеть <br> отметку в 70 тысяч подписчиков. 
         Однако в августе не очень хорошие <br> люди кинули 2 страйка. 
         История длинная, но если коротко мне <br>
          пришлось вести другой Youtube канал 
         и уйти из ниши "Minecraft", <br> психологическое давление меня вынудило это сделать. <br>
          Я начал пробовать себя в других Youtube направлениях. Пробовал <br> снимать видео по 
         объяснению различных интернет-мемов, видео <br> связанные с фильмами сериалами и аниме, <br>
          обучающие видеоролики по продвижению и заработку в соцсетях, <br>
           а также туториалы, 
        ролики по криптовалютной тематике и тд. <br> Какая-то результативность была, <br>
         но она была крайне малой по сравнению <br> с тем что было раньше. Результаты моего полтора годового <br>
          труда над двумя другими каналами принесло свои хорошие <br>
           плоды только в 23 году, благодаря реферальной программе<br>
           В ноябре 22 года я продал все три своих Youtube канала и  <br> 
           на эти деньги начал покупать другие Youtube каналы. <br>
         С того времени мой капитал был сильно приумножен и на <br>
          данный момент я массово скупаю Youtube каналы. <br>
          Мне очень нравится мое дело и я собираюсь дальше <br>
           развиваться в этом направлении.
    </h3>
    </div>
    <div class="img-div">
        <img class="img-1" src="/assets/svg/2023.jpg"
        height="300px">
       <img class="img-2" src="/assets/svg/seredina.jpg" alt=""
        width="450px"
        height="350px">
        <img class="img-3" src="/assets/svg/2024.jpg" alt=""
        width="300px"
        height="300px">
   </div>
</div>

