 <div class="title" style="display: flex; justify-content: center; ">
    <h1>Немного обо мне</h1>
    </div>
<div class="container">
   <div class="text"> 
    <h3>
        Мое настоящее имя Баграт. Мне 17 лет и я начал заниматься ютубом  летом 2020 года.
        Тогда я начал снимать видеоролики по игре под 
         названием "Minecraft". 
         Мне очень нравилось снимать видео и  изучать алгоритмы Youtube, 
          я считай жил всем этим. Интенсивно  занимаясь Youtube я смог добиться определенного успеха, 
          почти ровно через год канал сильно стрельнул и смог 
           преодолеть  отметку в 70 тысяч подписчиков. 
         Однако в августе не очень хорошие  люди кинули 2 страйка. 
         История длинная, но если коротко мне 
          пришлось вести другой Youtube канал 
         и уйти из ниши "Minecraft", психологическое давление меня вынудило это сделать. 
          Я начал пробовать себя в других Youtube направлениях. Пробовал  снимать видео по 
         объяснению различных интернет-мемов, видео связанные с фильмами сериалами и аниме, 
          обучающие видеоролики по продвижению и заработку в соцсетях, 
           а также туториалы, 
        ролики по криптовалютной тематике и тд.  Какая-то результативность была, 
         но она была крайне малой по сравнению с тем что было раньше. Результаты моего полтора годового 
          труда над двумя другими каналами принесло свои хорошие 
           плоды только в 23 году, благодаря реферальной программе
           В ноябре 22 года я продал все три своих Youtube канала и 
           на эти деньги начал покупать другие Youtube каналы. 
         С того времени мой капитал был сильно приумножен и на 
          данный момент я массово скупаю Youtube каналы. 
          Мне очень нравится мое дело и я собираюсь дальше
           развиваться в этом направлении.
    </h3>
    </div>
    <div class="img-div">
        <img class="img-1" src="/assets/svg/2023.jpg"
        >
       <img class="img-2" src="/assets/svg/seredina.jpg" alt=""
        >
        <img class="img-3" src="/assets/svg/2024.jpg" alt=""
        >
   </div>
</div>

