<div style="display: flex; justify-content: center; margin-top: 90px">
  <h2 style="font-size: 30px; display: inline-block;"> <h3 style="color: rgb(255, 29, 86); font-size: 30px; display: inline-block;">ОТЗЫВЫ</h3> О НАШЕЙ РАБОТЕ</h2>
</div>
<br>
<br>
<div class="content">
<div class="container swiper ">
    <div class="card-list swiper-wrapper">
      <div class="item swiper-slide">
        <img
          src="/assets/svg/phone-img.png"
          alt=""
          height="420px"
        />
      </div>
      <div class="item swiper-slide">
        <img
          src="/assets/svg/phone-1.png"
          alt=""
          height="420px"

        />
      </div>

      <div class="item swiper-slide">
        <img
          src="/assets/svg/phone-2.png"
          alt=""
          height="420px"
        />
      </div>

      <div class="item swiper-slide">
        <img
          src="/assets/svg/phone-3.png"
          alt=""
          height="420px"
        />
        
      </div>

      <div class="item swiper-slide">
        <img
          src="/assets/svg/phone-4.png"
          alt=""
          height="420px"
        />
      </div>

      <div class="item  swiper-slide">
        <img
          src="/assets/svg/phone5.png"
          alt=""
          height="420px"
        />
      </div>
      <div class="item  swiper-slide">
        <img
          src="/assets/svg/phone6.png"
          alt=""
          height="420px"
        />
      </div>
      <div class="item  swiper-slide">
        <img
          src="/assets/svg/phone7.png"
          alt=""
          height="420px"
        />
      </div>
</div>
  <!-- <div style=" color:rgb(255, 29, 86) ; border: none; background-color: rgb(255, 29, 86);" class="swiper-pagination"></div> -->
  <div style="color: rgb(255, 29, 86);" class="swiper-button-prev"></div>
  <div style="color: rgb(255, 29, 86);" class="swiper-button-next"></div>
</div>
<br>
<br>
<div style="width: 100%; display: flex; flex-direction: row; justify-content: space-around; gap: 200px; " class="text-about">
   <div><span style=" font-size: 20px;">Еще больше отзывов в моем <a href="https://t.me/+PBYajaTc7WsyMjE6">Telegram канале</a> </span></div>
   <div style=" width: 400px;
    display: inline-block;"><hr></div>
</div>
</div>