<div class="conteiner124">
    <div class="svg">
        <img src="/assets/svg/youtube-svgrepo-com (2).svg" alt=""
    >
        <h1 style=" color: rgb(148, 147, 147); margin-left: 10px;">покупаю ютуб каналы<br>
             продажа каналов</h1>
    </div>
    <div class="nav-text">
        <span>НАЧАЛО</span>  
        <span>ОБО МНЕ</span>
        <span>КАНАЛЫ</span>
        <span>ПРЕИМУЩЕСТВА</span>
        <span>ОТЗЫВЫ</span>
        <span>ЗАРАБОТАЙ</span>
        <span>РЕСУРСЫ</span>
    </div>
</div>
