<div class="conteiner">
    <div class="svg">
        <img src="/assets/svg/youtube-svgrepo-com (2).svg" alt=""
        width="55px"
        height="55px">
        <h1 style="font-size: 15px; color: rgb(148, 147, 147); margin-left: 10px;">покупаю ютуб каналы<br>
             продажа каналов</h1>
    </div>
    <div class="nav-text">
        <span>НАЧАЛО</span>  
        <span>ОБО МНЕ</span>
        <span>КАНАЛЫ</span>
        <span>ПРЕИМУЩЕСТВА</span>
        <span>ОТЗЫВЫ</span>
        <span>ЗАРАБОТАЙ</span>
        <span>РЕСУРСЫ</span>
    </div>
</div>
