
.conteiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(225, 224, 224);
    position: fixed;
    background: white;
    z-index: 1000;
}

span{
    cursor: pointer;
    font-weight: 600;
}

span:hover{
    color: red;
    transition: all 0.5s ease;
}

h1{
    cursor: pointer;
}

.svg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    cursor: pointer;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 60px;
    color: black;
    font-size: 15px;
}