 <div (click)="resultFunction()" class="container">
   <div class="text">
    <img src="/assets/svg/free-icon-private-investigator-6143158 (1).png" alt=""
   width="350px"
   height="350px">
   <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 60px;">
     <h2 style=" font-size: 40px; "> Заработай на поиске каналов!</h2>
      <p>Даже если у тебя нету своего Youtube канала ты все равно можешь заработать сотрудничая со мной. <br>
         Поиск каналов для продажи мне открывает такую возможность. Все что тебе нужно это найти канал, который <br>
          подходит по <a style="color: rgb(255, 29, 86); ;" href="/src/app/components/channels/">следующим критериям</a>, а также договориться с владельцем канала. Ты должен стать образно говоря <br>
           "сыщиком". Способов найти каналы может быть очень много, никто не запрещает креативничать, главное никому <br>
            не мешать и ничего не нарушать. Нету никаких мыслей, боишься что не сможешь? Тогда именно для тебя я буду <br>
             подготавливать различные подробные инструкции. Ты можешь найти их здесь.</p>
             </div>
   </div>
        <div class="kalklator">
            <div class="pervaiachast">
              <div class="img-text"> <img src="/assets/svg/money-stacks-of-coins-svgrepo-com.svg" alt=""
              width="60px"
              height="60px">
              <h2 style="font-size: 40px;">Калькулятор дохода</h2>
              </div>
               <div class="input-div">
                 
               <div style="display: flex; flex-direction: column;  " class="input-1">
              <div> 
                <h3>Количество привлеченных клиентов в месяц</h3> 
              </div>
              <div style="display: flex; gap: 50px;" >
                 <input (click)="resultFunction()" [(ngModel)]="inputRange1" class="input-range1" min="5000" max="9000" style="width: 400px;" type="range">
                  <input (click)="resultFunction()" (keyup.enter)="resultFunction()" [(ngModel)]="inputRange1"  class="input-text1" style="width: 150px; height: 40px; padding: 10px; font-size: 30px;" type="text">
                </div>
                <div style="display: flex; justify-content: space-between; width: 400px;">
                  <p>5000</p>
                  <p>9000</p>
               </div>
               </div> 
               <div style="display: flex; flex-direction: column; " class="input-2">
                <div>
                <h3>Количество привлеченных клиентов в месяц</h3> 
                </div>
                <div class="input-container1" style="display: flex; gap: 50px;">
                  <input (click)="resultFunction()" min="5" max="20" [(ngModel)]="inputRange2" class="input-range2" style="width: 400px;" type="range">
                  <input (keyup.enter)="resultFunction()" [(ngModel)]="inputRange2"  class="input-text2" style="width: 150px; height: 40px; padding: 10px; font-size: 30px; " type="text">
                  </div>
                  <div style="display: flex; justify-content: space-between; width: 400px;">
                    <p>5%</p>
                    <p>20%</p>
                 </div>
                 </div> 
              </div>
              </div>
              <div class="vtarachast">
                  <h2 class="your-many">Ваш доход в месяц</h2>
                  <h3 style="font-size: 30px; color: rgb(142, 86, 233) ;">{{ yourMany}}</h3>
                  <div style="display: flex; flex-direction: column; gap: 10px;"> 
                    <li>Калькулятор рассчитывает стоимость купленных мною каналов (за сколько были куплены), которые ты нашел мне в течении месяца, а также средний выплаченный процент от стоимости всех этих каналов. Тем самым получается определенный доход за месяц.
                    </li>
                    <li>Пример: ты нашел мне каналы. Сделки прошли успешно и я потратил 300 000 рублей на найденные тобой каналы. Если в среднем я заплатил тебе к примеру 10% от стоимости каналов, то получается я выплатил 30000 рублей.</li>
                    </div>
              </div>
        </div>
 </div>
