.container1221{
     /* display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
     height: 100%; */
    background-color: lightblue;
}

h1{
    font-size: 70px;
}

img{
     margin-left: 80px;
}

.text{
    margin-left: 70px;
    font-family: 'Roboto', Arial, sans-serif; 
}

 @media (min-width: 200px)   {
     
    

     h1{
    font-size: 30px;
   }

   img{
    width: 500px ;
    height: 300px;
    background-color: blue;
   }   


    .container1221 {
    background-color: lightcoral;
   } 
   

} 